spring:
  application:
    name: gateway
  config:
    import: configserver:http://localhost:8888
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true

server:
  port: 8765
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true

