<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <property name="LOGS" value="./logs"/>
    <property name="LOG_FILE" value="auth-service"/>

    <springProfile name="dev">

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
                <withFormattedMessage>true</withFormattedMessage>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="CONSOLE_JSON"/>
        </root>

        <logger name="com.sspdev.auth" level="INFO" additivity="true">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="CONSOLE_JSON"/>
        </logger>

        <logger name="org.jboss.logging" level="INFO" additivity="true">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="CONSOLE_JSON"/>
        </logger>

    </springProfile>

    <springProfile name="prod">

        <appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOGS}/${LOG_FILE}.log</file>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOGS}/${LOG_FILE}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>30</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
        </appender>

        <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOGS}/${LOG_FILE}-error.log</file>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOGS}/${LOG_FILE}-error-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        </appender>

        <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
                <withFormattedMessage>true</withFormattedMessage>
            </encoder>
        </appender>

        <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOGS}/${LOG_FILE}.json</file>
            <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
                <withFormattedMessage>true</withFormattedMessage>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOGS}/${LOG_FILE}-%d{yyyy-MM-dd}.json</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
            <appender-ref ref="FILE_ALL"/>
            <appender-ref ref="FILE_ERROR"/>
            <appender-ref ref="FILE_JSON"/>
        </root>

        <logger name="com.sspdev.auth" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE_JSON"/>
            <appender-ref ref="FILE_ALL"/>
            <appender-ref ref="FILE_ERROR"/>
            <appender-ref ref="FILE_JSON"/>
        </logger>
    </springProfile>

    <springProfile name="test">

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
                <withFormattedMessage>true</withFormattedMessage>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="CONSOLE_JSON"/>
        </root>

        <logger name="com.sspdev.auth" level="INFO" additivity="true">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="CONSOLE_JSON"/>
        </logger>

        <logger name="org.jboss.logging" level="INFO" additivity="true">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="CONSOLE_JSON"/>
        </logger>

        <logger name="org.hibernate.SQL" level="WARN" additivity="false"/>

    </springProfile>

</configuration>